{% comment %}
  Display options for a product

  @param product
         The product to show options for.

  @param type
         Can be "radio" or "select".
{% endcomment %}

{% assign _type = type | default: 'radio' %}

{% if product.has_only_default_variant %}
  <input name="id" type="hidden" value="{{ product.selected_or_first_available_variant.id }}">
{% else %}
  <div
    class="
      product-options
      product-options-type-{{ _type }}
    "
    data-product-options
  >
    {% comment %}
      Variant select. This is the source-of-truth for which variant to add.
    {% endcomment %}
    <select name="id" style="display: none;" data-variants>
      {% for variant in product.variants %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money }}
        </option>
      {% endfor %}
    </select>

    {% comment %}
      Option inputs
    {% endcomment %}
    {%- for option in product.options_with_values -%}
      {% assign optionIndex = forloop.index %}

      {% comment %}
        Radio button options
      {% endcomment %}
      {% if _type == 'radio' or _type == 'both' %}
        <div class="option-values option-values-radio">
          <span class="product-option-name">{{ option.name }}</span>

          <div class="option-value-group">
            {% for value in option.values %}
              <div class="form-element-wrapper">
                <div
                  class="
                    form-element-radio
                    {% if option.selected_value == value %}option-selected{% endif %}
                  "
                >
                  <input
                    id="product-option-{{ option.name | url_encode }}-{{ value | url_encode }}"
                    class="form-element"
                    type="radio"
                    name="{{ option.name | url_encode }}"
                    value="{{ value | escape }}"
                    tabindex="0"
                    aria-label="{{ value | escape }}"
                    {% if option.selected_value == value %}checked{% endif %}
                    data-product-option="{{ 'option' | append: optionIndex }}"
                  >
                  <span class="form-element-icon">
                    {% include 'icons', id: 'check' %}
                  </span>

                  <label class="form-element-label" for="product-option-{{ option.name | url_encode }}-{{ value | url_encode }}">{{ value }}</label>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% comment %}
        Select dropdown options
      {% endcomment %}
      {% if _type == 'select' or _type == 'both' %}
        <div class="option-values option-values-select">
          <div class="form-element-wrapper">
            <label class="form-element-label">{{ option.name }}</label>

            <div class="form-element-select">
              <select
                class="form-element"
                name=""
                tabindex="0"
                data-product-option="{{ 'option' | append: optionIndex }}"
              >
                {% for value in option.values %}
                  <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}selected{% endif %}
                  >{{ value }}</option>
                {% endfor %}
              </select>

              <span class="form-element-icon">
                {% include 'icons', id: 'chevron' %}
              </span>
            </div>
          </div>
        </div>
      {% endif %}
    {%- endfor -%}
  </div>
{% endif %}
