<article
  class="site-page background-alternate"
  data-account-template="addresses"
>
  <header class="page-masthead">
    <h1 class="page-title">
      {{ 'account.addresses_edit.title' | t }}
    </h1>
    <div class="account-actions">
      <a class="account-return" href="/account/addresses">
        {%
          include 'icons',
          id: 'chevron'
        %}
        <span>{{ 'account.general.addresses' | t }}</span>
      </a>
    </div>
  </header>

  <div class="page-container">
    <div class="page-content rte">
      <div class="account-addresses-edit">
        {% paginate customer.addresses by 1 %}
          {% for address in customer.addresses %}
            {% assign address_id = 'customer-addr-' | append: address.id | append: '-' %}

            <div class="account-addresses-edit" data-address-id="{{ address.id }}">
              {% form 'customer_address', address %}
                {% if form.errors %}
                  <div class="account-addresses-form-errors">
                    {{ form.errors | default_errors }}
                  </div>
                {% endif %}

                {% assign account_addresses_first_name_label = 'account.addresses.first_name' | t %}
                {% assign account_addresses_first_name_id = address_id | append: 'firstname' %}
                {%
                  include 'form-elements',
                  id: account_addresses_first_name_id,
                  name: 'address[first_name]',
                  type: 'text',
                  value: form.first_name,
                  label: account_addresses_first_name_label
                %}

                {% assign account_addresses_last_name_label = 'account.addresses.last_name' | t %}
                {% assign account_addresses_last_name_id = address_id | append: 'lastname' %}
                {%
                  include 'form-elements',
                  id: account_addresses_last_name_id,
                  name: 'address[last_name]',
                  type: 'text',
                  value: form.last_name,
                  label: account_addresses_last_name_label
                %}

                {% assign account_addresses_company_label = 'account.addresses.company' | t %}
                {% assign account_addresses_company_id = address_id | append: 'company' %}
                {%
                  include 'form-elements',
                  id: account_addresses_company_id,
                  name: 'address[company]',
                  type: 'text',
                  value: form.company,
                  label: account_addresses_company_label
                %}

                {% assign account_addresses_address1_label = 'account.addresses.address1' | t %}
                {% assign account_addresses_address1_id = address_id | append: 'address1' %}
                {%
                  include 'form-elements',
                  id: account_addresses_address1_id,
                  name: 'address[address1]',
                  type: 'text',
                  value: form.address1,
                  label: account_addresses_address1_label
                %}

                {% assign account_addresses_address2_label = 'account.addresses.address2' | t %}
                {% assign account_addresses_address2_id = address_id | append: 'address2' %}
                {%
                  include 'form-elements',
                  id: account_addresses_address2_id,
                  name: 'address[address2]',
                  type: 'text',
                  value: form.address2,
                  label: account_addresses_address2_label
                %}

                {% assign account_addresses_city_label = 'account.addresses.city' | t %}
                {% assign account_addresses_city_id = address_id | append: 'city' %}
                {%
                  include 'form-elements',
                  id: account_addresses_city_id,
                  name: 'address[city]',
                  type: 'text',
                  value: form.city,
                  label: account_addresses_city_label
                %}

                {% assign account_addresses_country_label = 'account.addresses.country' | t %}
                {% assign account_addresses_country_id = address_id | append: 'country' %}
                {% assign account_addresses_country_error = false %}
                {% if form.errors contains 'country' %}
                  {% assign account_addresses_country_error = true %}
                {% endif %}
                {%
                  include 'form-elements',
                  id: account_addresses_country_id,
                  name: 'address[country]',
                  type: 'select',
                  label: account_addresses_country_label,
                  value: country_option_tags,
                  data_attr: 'default',
                  data_val: form.country,
                  error: account_addresses_country_error
                %}

                {% assign account_addresses_province_label = 'account.addresses.province' | t %}
                {% assign account_addresses_province_id = address_id | append: 'province' %}
                <div id="{{ account_addresses_province_id }}-wrapper">
                  {%
                    include 'form-elements',
                    id: account_addresses_province_id,
                    name: 'address[province]',
                    type: 'select',
                    label: account_addresses_province_label,
                    data_attr: 'default',
                    data_val: form.province
                  %}
                </div>

                {% assign account_addresses_zip_label = 'account.addresses.zip' | t %}
                {% assign account_addresses_zip_id = address_id | append: 'zip' %}
                {%
                  include 'form-elements',
                  id: account_addresses_zip_id,
                  name: 'address[zip]',
                  type: 'text',
                  label: account_addresses_zip_label,
                  value: form.zip
                %}

                {% assign account_addresses_phone_label = 'account.addresses.phone' | t %}
                {% assign account_addresses_phone_id = address_id | append: 'phone' %}
                {%
                  include 'form-elements',
                  id: account_addresses_phone_id,
                  name: 'address[phone]',
                  type: 'text',
                  label: account_addresses_phone_label,
                  value: form.phone
                %}

                {% assign account_addresses_default_label = 'account.addresses.default' | t %}
                {% assign account_addresses_default_id = 'address_default_address_' | append: address.id %}
                {%
                  include 'form-elements',
                  id: account_addresses_default_id,
                  name: 'address[default]',
                  type: 'checkbox',
                  label: account_addresses_default_label
                %}

                <div class="account-addresses-edit-submit-container">
                  {% assign account_addresses_submit_value = 'account.addresses_edit.submit' | t %}
                  {%
                    include 'form-elements',
                    secondary: true,
                    type: 'submit'
                    value: account_addresses_submit_value
                  %}

                  <a
                    class="account-addresses-edit-cancel"
                    href="/account/addresses"
                  >
                    {{ 'account.addresses_edit.cancel' | t }}
                  </a>
                </div>
              {% endform %}
            </div>
          {% endfor %}
        {% endpaginate %}
      </div>
    </div>
  </div>

  {%
    include 'patterns',
    size: 'large',
    class: 'page-content-pattern'
  %}
</article>
