<article class="site-page site-password background-alternate">
  {% if section.settings.heading != blank %}
    <header class="page-masthead">
      <h3 class="page-subtitle">{{ shop.name }}</h3>

      {% if section.settings.heading != blank %}
        <h1 class="page-title">
          {{ section.settings.heading | escape }}
        </h1>
      {% endif %}
    </header>
  {% endif %}

  <div class="page-container">
    <div class="page-content rte" data-rte>
      {% unless shop.password_message == blank %}
        <p>{{ shop.password_message | escape }}</p>
      {% endunless %}

      {% if section.settings.show_newsletter %}
        {% if section.settings.newsletter_text != blank %}
          {{ section.settings.newsletter_text }}
        {% endif %}

        <div class="newsletter-full">
          {%-
            include 'newsletter',
            form_id: section.id,
          -%}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="site-password-modal">
    <div data-password-modal>
      <h3 class="site-password-modal-title">{{ 'password.general.title' | t }}</h3>
      {% form 'storefront_password' %}
        {% if form.errors %}
          <meta data-password-form-error />
          {{ form.errors | default_errors }}
        {% endif %}

        {% assign password_password_placeholder = 'password.general.password' | t %}
        {%
          include 'form-elements',
          secondary: true,
          type: 'password',
          name: 'password'
          placeholder: password_password_placeholder
        %}

        {% assign password_submit_value = 'password.general.submit' | t %}
        {%
          include 'form-elements',
          secondary: true,
          type: 'submit',
          value: password_submit_value
        %}

      {% endform %}
    </div>
  </div>
</article>

{% schema %}
{
  "name": "Password page",
  "class": "section-password",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Opening soon!"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "id": "show_newsletter",
      "type": "checkbox",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "id": "newsletter_text",
      "type": "richtext",
      "label": "Text",
      "default": "<p>Be the first to know when we launch</p>"
    }
  ]
}

{% endschema %}